footer {
  background-color: #262626; 
  color: #FFFFFF;
}

.logo {
  display: inline-block;
}
.header-button {

}
.header-button_inverse {

}
.search-form {

}
.search-form__icon {

}
.search-form__input {
  width: 100%;

}

.input-title {

}
.when {

}
.when__input {

width: 100%;
}
.where {

}
.where__input {
  width: 100%;
}

.list-header {

}
.rest {

}
.rest-photo {
  width: 100%;
}
.rest-name {

}
.rest-details {

}
.rest-delivery {

}

.footer-link {

}

.footer-link-small {

}